.info {
    font-size: large;
    position: absolute;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #BBBBBB;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0.6;
    display: table;
}

#imgListItem {
	list-style-type: none; 
	float: right; 
	padding-left: 0px; 
	margin-right: 35px;
	margin-top: 35px;
}

.imgItem {
	margin-bottom: 10px;
}

.pic {
	width: 150px;
	height: 100px;
	opacity: 0.6;
}

#viewerPic {
    width: 50%;
    height: 50%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#viewImg {
    width: 100%;
    height: 100%;
}

/* The Close Button */
#closeModal {
  position: absolute;
  top: -13.25px;
  right: 0px;
  color: black;
  font-size: 48px;
  font-weight: bold;
}